{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/basepage.css' %}">
    <title>Library</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Welcome {{request.user|capfirst}} !...</h1>
    {% else %}
        <h1>Welcome Guy's !...</h1>
    {% endif %}
    <div class="navbar">
        <div class="logo">Library</div>
        <div class="nav-links">
            <a href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'upload' %}">Upload</a>
                <a href="{% url 'save' %}">Save</a>
                <a href="{% url 'profile' user.id %}">Profile</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
        <div class="search-bar">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="search" name="q" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    {% block content %}

    {% endblock %}
    <div class="footer-bar">
        <p>© 2023 Library Pvt Inc. | All rights reserved</p>
    </div>
</body>
</html>