{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
    <title>Library</title>
</head>
<body>
    
    <div class="login-page">
        <div class="form">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username..." required>
                <input type="password" name="password" placeholder="Password..." required>
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
                <button type="submit">Login</button>
                <p class="message"><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
                <p class="message">Not Registered? <a href="{% url 'register' %}">Register</a></p>
            </form>
        </div>
    </div>
</body>
</html>